<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.FirstServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BufferedServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.BufferedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.FormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CodeSampleServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.CodeSampleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccessCounterServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.cookie.AccessCounterServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>com.taran.ph.servlets.UserRegistrationServlet</servlet-class>
    </servlet>

    <!-- mappings -->

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BufferedServlet</servlet-name>
        <url-pattern>/buffered</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/cv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CodeSampleServlet</servlet-name>
        <url-pattern>/view-code</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccessCounterServlet</servlet-name>
        <url-pattern>/access-count</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register-user</url-pattern>
    </servlet-mapping>
    
</web-app>
