<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.FirstServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BufferedServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.BufferedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FormServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.FormServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CodeSampleServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.CodeSampleServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AccessCounterServlet</servlet-name>
        <servlet-class>com.taran.ph.servlets.cookie.AccessCounterServlet</servlet-class>
    </servlet>

    <!-- mappings -->

    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BufferedServlet</servlet-name>
        <url-pattern>/buffered</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FormServlet</servlet-name>
        <url-pattern>/cv</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CodeSampleServlet</servlet-name>
        <url-pattern>/view-code</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccessCounterServlet</servlet-name>
        <url-pattern>/access-count</url-pattern>
    </servlet-mapping>
    
</web-app>
